<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <h1>About Page</h1>

  <img src="images/michael.jpeg" alt="Michael" style="max-width: 500px;">
  <%- include('partials/nav') %>
  <!-- footer -->
  <%- include('partials/footer') %>
</body>
</html>